<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Register - HRMS</title>
    <link rel="stylesheet" href="../css/login.css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat&display=swap" rel="stylesheet">
  </head>
  <body>
    <form class="login-form" action="../controller/insert_admin.php" method="post">
      <h1>Register</h1>
      <div class="txtb">
        <input type="text" name="username" value="" placeholder="Username" required>
      </div>
      <div class="txtb">
        <input type="password" name="password" value="" placeholder="Password" required>

      </div>
      <input type="submit" class="logbtn" name="" value="Register">
      <p>

      <a id="refister" href="../views/login.php"> Already a user? Login Here</a>

    </p>
    </form>
  </body>
</html>
